<!DOCTYPE html>
<html lang="he" dir="rtl">

<head>
  <meta charset="UTF-8">
  <title>הרשמה</title>
  <link rel="stylesheet" href="/admin.css">
</head>

<body class="register-page">

<div class="register-corner-logo-wrap">
  <img src="/me.png" class="register-corner-logo">
</div>
  
<div class="register-card">
  <img src="/logo1.png" alt="logo" class="register-logo">

  <h2>זו הייתה סימולציית סייבר של Paragon</h2>

  <p>
    בדיוק כך נראים ניסיונות פישינג והתחזות.<br>
    נשמח אם תשאיר פרטים להרצאת מודעות סייבר.
  </p>

  <form method="POST" action="/register">
    <input type="text" name="full_name" placeholder="שם מלא" required>
    
              <select name="department" required>
                <option value="">בחר מחלקה</option>
                <option value="מכירות">מכירות</option>
                <option value="הנדסה">הנדסה</option>
                <option value="שירות">שירות</option>
                <option value="פרויקטים">פרויקטים</option>
                <option value="כספים">כספים</option>
              </select>
              
    <input type="text" name="phone" placeholder="טלפון">
    <input type="email" name="email" placeholder="אימייל" required>

    <input type="hidden" name="token" id="token">

    <button type="submit" class="register-btn">אישור הגעה להרצאה</button>
  </form>

  <small>לא נאספו סיסמאות או פרטים רגישים.</small>
</div>

<script>
  const params = new URLSearchParams(window.location.search);
  document.getElementById("token").value = params.get("u") || "";
</script>

</body>
</html>
